__pycache__
.idea
.vscode
images
images2
kde-venv
req_img
results
GaussianNB.py

Group 11 - Non Parametric project.pdf
Group 11 - Non Parametric project.pptx

images.zip
images2.zip

kde-naive-bayes.pdf
notebook.ipynb